@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

* { /* fonte para todo o projeto */
    font-family: "Libre Caslon Text", serif;
    font-weight: 700;
    font-style: normal;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
   
    background-image: url(Sem\ título\(1\).png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(15, 32, 63, 1);
}

#container {    
    background-color: rgba(15, 32, 73, 0.93);
    border-radius: 24px;
    padding: 18px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

#search {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 3px solid ;
    border-radius: 10px;
    padding: 4px 12px;
    color: rgba(195, 155, 85, 1);
}

#search input {
    border: none;
    background-color: transparent;
    font-size: 100%;
    width: 100%;
    color: rgba(195, 155, 85, 1);
}

#search input:focus-visible {
    outline: none;
}

#search button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgba(195, 155, 85, 1);
}

#search button:hover {
    transform: scale(1.2);
    transition: 0.08s ease;
}